body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
h3 {
  margin-bottom: 5px;
}
button {
  padding: 5px 10px;
  background-color: darkorange;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-group .btn.active {
  background-color: #6c757d;
  border-color: #6c757d;
}

#tabContent {
  border: 1px solid #dee2e6;
  padding: 15px;
  min-height: 100px;
}

/* #四燈獎 */
.progress-steps-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.progress-steps {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* 圓點 */
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1;
}

.step.completed .circle {
  background: linear-gradient(45deg, #4f46e5, #ec4899);
}

/* 標籤 */
.label {
  margin-top: 8px;
  font-size: 14px;
}

/* 線條，只出現在右邊 */
.step .line {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  z-index: 0;
}

/* 最後一個步驟不要線條 */
.step:last-child .line {
  display: none;
}

.quantity {
  pointer-events: none;
  /* 禁止手動輸入 */
}
/* 左右按鈕靠近圖片 + 圓底樣式 */
.custom-carousel-btn {
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(200, 200, 200, 0.7);
  border-radius: 50%;
}

.carousel-control-prev {
  left: -20px;
}

.carousel-control-next {
  right: -20px;
}

.extra-margin-top {
  margin-top: 100px; /* 你可以改成 120px、150px 來看你喜歡多大 */
}

.event-date {
  text-decoration: underline;
}

/* 確保搜尋框和按鈕在同一行 */
.search-form {
  display: flex;
  width: 60%;
}

