{% extends "layout.html" %}

{% block title %}購票起始頁 - NtickeTUB{% endblock %}

{% block content %}

<div class="banner-container">
  <div class="large-banner" style="--bg-url: url('{{ s.show_pic }}');">
    <div class="small-banner">
      <img src="{{ s.show_pic }}" alt="Banner Image">
    </div>
  </div>
</div>

<div class="container">
  <h2>{{ s.show_name }}</h2>
  <p>
    <span class="d-inline-flex align-items-center">
      <i class="bi bi-calendar-event me-1"></i> 活動時間：{{ s.start_date.strftime('%Y/%m/%d') if s.createdAt else '未定' }}
    </span><br>

    <span class="d-inline-flex align-items-center">
      <i class="bi bi-geo-alt me-1"></i> 活動地點：{{ location.loc_name }}　
      <a class="highlight" href="https://www.google.com/maps?q={{ location.loc_name }}" target="_blank">
        點我查看地圖
      </a>
    </span><br>

    <span class="d-inline-flex align-items-center">
      <i class="bi bi-briefcase me-1"></i> 主辦單位：{{ host.host_name }}
    </span>
  </p>
</div>

<div class="container">
  <div class="alert alert-danger small">
    * 依票務公告先後為準<br>
    * 會員請先完成登入
  </div>

  <table class="table table-bordered text-center">
    <thead class="table-light">
      <tr>
        <th>演出日期</th>
        <th>售票期間</th>
        <th>地點</th>
      </tr>
    </thead>
    <tbody>

      {% for game in games %}
      <tr>
        <td>{{ game.game_date }}</td>
        <td>{{ game.sale_start_time}} ～ {{ game.sale_end_time}}</td>
        <td>{{ location.loc_name }}</td>

        <td>
          {% if game.game_status == 'A' and game.sale_start_time <= now <=game.sale_end_time %} <a
            href="{{ url_for('select_area', game_id=game.game_id) }}" class="btn btn-secondary">立即訂購</a>
            {% else %}
            <button class="btn btn-secondary" disabled>暫停販售</button>
            {% endif %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="5">目前沒有任何場次</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div class="container mb-4">
  <div class="alert alert-light border border-danger small">
    * 活動異動聲明：主辦單位保有隨時變更、終止本活動與內容之權利，如有相關異動將於官方網站公告，請參閱最新公告資訊。
  </div>
</div>
{% endblock %}